<div class="container mt-4">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let permanencia"> {{permanencia.nombre}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let permanencia"> {{permanencia.apellidos}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Habitacion">
        <th mat-header-cell *matHeaderCellDef> Habitacion </th>
        <td mat-cell *matCellDef="let permanencia">{{permanencia.habitacion}}</td>

      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20,40,80]" showFirstLastButtons></mat-paginator>
  </div>
</div>
