
    <div class="container-fluid mt-4">

      <div class="row ml-sm-1 ml-0 mr-sm-1 mr-0 mb-4 justify-content-start">
        <button type="button" class=" col-sm-3  mt-2 btn btn-success btn-lg" (click)="router.navigate(['/alta-habitacion'])">Añadir habitacion</button>
      </div>

      <mat-form-field>
        <label>Filtro</label>
        <input class="form-control" matInput (keyup)="applyFilter($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="">

        <!-- Position Column -->
        <ng-container class="col-3" matColumnDef="Numero">
          <th mat-header-cell *matHeaderCellDef>Número </th>
          <td mat-cell *matCellDef="let habitacion"> {{habitacion.numero}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container class="col-3" matColumnDef="Tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let habitacion">{{habitacion.tipo}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container  class="col-3 " matColumnDef="Residente/s">
          <th mat-header-cell *matHeaderCellDef> Residente/s</th>
          <td mat-cell *matCellDef="let habitacion"> <p>{{habitacion.residente1}}</p>
            <p>{{habitacion.residente2}}</p> </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container class="col-3 " matColumnDef="Acciones">
          <th  mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let habitacion">
            <button (click)="irAEditarHabitacion(habitacion)" type="button" class="col-12 btn btn-warning mt-1 "><fa-icon class="fa-1x" [icon]="detalles"></fa-icon>
            </button>
            <button (click)="openConfirmationDialog(habitacion)" type="button" class="col-12 btn btn-danger mt-2 mb-1"><fa-icon class="fa-1x" [icon]="eliminar"></fa-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
