<div class="container ">
  <h1 id="tituloEdit" class="w-75">Editar a {{this.nombreEdit.value}} {{this.apellidosEdit.value}}</h1>
  <form id="trabajdorEditForm" [formGroup]="FormularioEdit" class=" justify-content-center w-75" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input [class.ng-invalid]="(nombreEdit.invalid && nombreEdit.touched)" type="text" class="form-control ng-valid" id="nombre" formControlName="nombreEdit"  name="nombre" >
      <div *ngIf="(nombreEdit.invalid && nombreEdit.touched) || nombreEdit.dirty">
        <small *ngIf="nombreEdit.errors?.required" class="text-danger">El nombre es obligatorio</small>
        <small *ngIf="nombreEdit.errors?.pattern" class="text-danger">El nombre no es valido</small>
      </div>
    </div>

    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input [class.ng-invalid]="(apellidosEdit.invalid && apellidosEdit.touched)" type="text" formControlName="apellidosEdit" class="form-control ng-valid" id="apellidos">
      <div *ngIf="(apellidosEdit.invalid && apellidosEdit.touched) || apellidosEdit.dirty">
        <small *ngIf="apellidosEdit.errors?.required" class="text-danger">Los apellidos son obligatorio</small>
        <small *ngIf="apellidosEdit.errors?.pattern" class="text-danger">Los apellidos no son validos</small>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Fecha nacimiento</label>
      <input [class.ng-invalid]="(fechaEdit.invalid && fechaEdit.touched)" type="date" formControlName="fNacEdit" class="form-control ng-valid" id="fNac" name="fNac" >
      <div *ngIf="(fechaEdit.invalid && fechaEdit.touched) || fechaEdit.dirty">
        <small *ngIf="fechaEdit.errors?.required" class="text-danger">La fecha es obligatoria</small>
      </div>
    </div>

    <div class="form-group">
      <label for="dni">DNI</label>
      <input [class.ng-invalid]="validarDni(dniEdit.value)==false" type="text" class="form-control ng-valid" id="dni" name="dni" formControlName="dniEdit">
      <div *ngIf="(dniEdit.invalid && dniEdit.touched) || dniEdit.dirty || validarDni(dniEdit.value)">
        <small *ngIf="dniEdit.errors?.required" class="text-danger">El DNI es necesario</small>
        <small *ngIf="dniEdit.errors?.pattern" class="text-danger">El DNI no es valido</small>
        <small *ngIf="!validarDni(dniEdit.value) && !dniEdit.errors?.pattern && !dniEdit.errors?.required" class="text-danger">La letra del DNI no es valida</small>

      </div>

    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input [class.ng-invalid]="(emailEdit.invalid && emailEdit.touched)" readonly type="text"  class="form-control ng-valid" formControlName="emailEdit" id="email" name="email">
      <div *ngIf="(emailEdit.invalid && emailEdit.touched) || emailEdit.dirty">
        <small *ngIf="emailEdit.errors?.required" class="text-danger">La fecha es obligatoria</small>
      </div>
    </div>

    <div class="form-group">
      <label for="contraseña">Contraseña</label>
      <input [class.ng-invalid]="(contrasenaEdit.invalid && contrasenaEdit.touched)" type="text" formControlName="contrasenaEdit" class="form-control ng-valid" id="contraseña"  name="pass">
      <div *ngIf="(contrasenaEdit.invalid && contrasenaEdit.touched) || contrasenaEdit.dirty">
        <small *ngIf="contrasenaEdit.errors?.pattern" class="text-danger">La contraseña debe teneral menos un dígito, al menos una minúscula y al menos una mayúscula, debe tener al entre 8 y 16 caracteres</small>
      </div>
      <div *ngIf="!(contrasenaEdit.invalid && contrasenaEdit.touched) || !contrasenaEdit.dirty">
        <small *ngIf="!contrasenaEdit.errors?.pattern" class="text-success">Dejar en blanco si no se quiere modificar</small>
      </div>
    </div>


    <div class="form-group">
      <label for="power">Rol</label>
      <select class="form-control" id="power"  name="rol" formControlName="rolEdit" >
        <option *ngFor="let roloption of roles; index as i" [attr.selected]="trabajador.rol==i" [value]=i >{{roloption}} </option>
      </select>
    </div>

    <div *ngIf="registroCorrecto" [ngClass]="{'transition': registroCorrecto}"  id="registroCorrecto" class="alert alert-success">
      <a href="#" (click)="resetearIntento()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Residente modificado correctamente</strong>.
    </div>

    <div *ngIf="registroIncorrecto" class="alert alert-danger">
      <a href="#" (click)="resetearIntento()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error: </strong>{{msgError}}.
    </div>


    <div class="mt-4">
      <button [disabled]="!FormularioEdit.valid" (click)="modificarTrabajador()" type="button" class=" col-md-3 btn btn-success mt-2">Registrar</button>
      <button type="button" class=" col-md-3 offset-md-2 btn btn-warning mt-2" (click)="router.navigate(['/personal'])">Volver</button>
    </div>
  </form>

</div>

