<div class="container ">
  <h1 id="tituloAlta" class="w-75">Nuevo personal</h1>
  <form id="personalAltaForm" [formGroup]="FormularioAlta" class=" justify-content-center w-75">

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input [class.ng-invalid-input]="(nombreAlta.invalid && nombreAlta.touched) || !nombreAlta.value" type="text" class="form-control ng-valid-input" id="nombre" formControlName="nombreAlta"  name="nombre" >
      <div *ngIf="(nombreAlta.invalid && nombreAlta.touched) || nombreAlta.dirty">
        <small *ngIf="nombreAlta.errors?.required" class="text-danger">El nombre es obligatorio</small>
        <small *ngIf="nombreAlta.errors?.pattern" class="text-danger">El nombre no es valido</small>
      </div>
    </div>

    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input [class.ng-invalid-input]="(apellidosAlta.invalid && apellidosAlta.touched) || !apellidosAlta.value" type="text" formControlName="apellidosAlta" class="form-control ng-valid-input" id="apellidos">
      <div *ngIf="(apellidosAlta.invalid && apellidosAlta.touched) || apellidosAlta.dirty">
        <small *ngIf="apellidosAlta.errors?.required" class="text-danger">Los apellidos son obligatorio</small>
        <small *ngIf="apellidosAlta.errors?.pattern" class="text-danger">Los apellidos no son validos</small>
      </div>
    </div>

    <div class="form-group">
      <label for="fNac">Fecha nacimiento</label>
      <input [class.ng-invalid-input]="(fechaAlta.invalid && fechaAlta.touched) || !fechaAlta.value" type="date" formControlName="fNacAlta" class="form-control ng-valid-input" id="fNac" name="fNac" >
      <div *ngIf="(fechaAlta.invalid && fechaAlta.touched) || fechaAlta.dirty">
        <small *ngIf="fechaAlta.errors?.required" class="text-danger">La fecha es obligatoria</small>
      </div>
    </div>

    <div class="form-group">
      <label for="dni">DNI</label>
      <input [class.ng-invalid-input]="validarDni(dniAlta.value)==false" type="text" class="form-control ng-valid-input" id="dni" name="dni" formControlName="dniAlta">
      <div *ngIf="(dniAlta.invalid && dniAlta.touched) || dniAlta.dirty || validarDni(dniAlta.value)">
        <small *ngIf="dniAlta.errors?.required" class="text-danger">El DNI es necesario</small>
        <small *ngIf="dniAlta.errors?.pattern" class="text-danger">El DNI no es valido</small>
        <small *ngIf="!validarDni(dniAlta.value) && !dniAlta.errors?.pattern && !dniAlta.errors?.required" class="text-danger">La letra del DNI no es valida</small>

      </div>


    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input [class.ng-invalid-input]="(emailAlta.invalid && emailAlta.touched) || !emailAlta.value" type="text"  class="form-control ng-valid-input" formControlName="emailAlta" id="email" name="email">
      <div *ngIf="(emailAlta.invalid && emailAlta.touched) || emailAlta.dirty">
        <small *ngIf="emailAlta.errors?.required" class="text-danger">El dni es obligatorio</small>
      </div>
    </div>

    <div class="form-group">
      <label for="contraseña">Contraseña</label>
      <input [class.ng-invalid-input]="(contrasenaAlta.invalid && contrasenaAlta.touched) || !contrasenaAlta.value" type="text" formControlName="contrasenaAlta" class="form-control ng-valid-input" id="contraseña"  name="pass">
      <div *ngIf="(contrasenaAlta.invalid && contrasenaAlta.touched) || contrasenaAlta.dirty">
        <small *ngIf="contrasenaAlta.errors?.pattern" class="text-danger">La contraseña debe teneral menos un dígito, al menos una minúscula y al menos una mayúscula, debe tener al entre 8 y 16 caracteres</small>
      </div>
      <div *ngIf="!(contrasenaAlta.invalid && contrasenaAlta.touched) || !contrasenaAlta.dirty">
        <small *ngIf="!contrasenaAlta.errors?.pattern" class="text-success">La contraseña puede ser cambiada por usted posteriormente</small>
      </div>
    </div>


    <div class="form-group">
      <label for="power">Rol</label>
      <select [selectedIndex]="3"  class="form-control ng-valid-input" id="power"  name="rol" formControlName="rolAlta" >
        <option *ngFor="let roloption of roles; index as i" [attr.selected]="3 == i" [value]=i >{{roloption}} </option>
      </select>
    </div>

    <div *ngIf="registroCorrecto" [ngClass]="{'transition': registroCorrecto}"  id="registroCorrecto" class="alert alert-success">
      <a href="#" (click)="resetearIntento()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Residente creado correctamente</strong>.
    </div>

    <div *ngIf="registroIncorrecto" class="alert alert-danger">
      <a href="#" (click)="resetearIntento()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error: </strong>{{msgError}}.
    </div>


    <div class="mt-4">
      <button [disabled]="FormularioAlta.invalid" (click)="altaPersonal()" type="submit" class=" col-md-3 btn btn-success mt-2">Registrar</button>
      <button type="button" class=" col-md-3 offset-md-2 btn btn-warning mt-2" (click)="router.navigate(['/personal'])">Volver</button>
    </div>
  </form>

</div>
