<div class="container ">
  <h1 id="tituloAlta" class="w-75">Nuevo personal</h1>
  <form id="habitacionAltaForm" [formGroup]="FormularioAlta" class=" justify-content-center w-75" (ngSubmit)="onSubmit()">

    <div class="form-group w-25">
      <label for="numero">Número</label>
      <input  [class.ng-invalid-input-input]="(numeroAlta.invalid)" type="text" class="form-control ng-valid-input-input" id="numero" formControlName="numeroAlta"  name="numero" >
      <div *ngIf="(numeroAlta.invalid && numeroAlta.touched) || numeroAlta.dirty">
        <small *ngIf="numeroAlta.errors?.required" class="text-danger">El numero es obligatorio</small>
        <small *ngIf="numeroAlta.errors?.pattern" class="text-danger">El numero no es valido</small>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field class="w-75" [class.mat-form-field-invalid]="!this.tipoAlta.touched" >
        <label>Tipo</label>
        <mat-select value="0"  (selectionChange)="cambioTipo(this.tipoAlta.value)"  formControlName="tipoAlta">
          <mat-option  [value]=0>Individual</mat-option>
          <mat-option  [value]=1>Doble</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label class="w-100" for="residentes">Residentes</label>
      <app-select-residentes class="w-100" id="residentes"></app-select-residentes>
    </div>

    <div class="form-group">
      <label class="w-100" for="disponible">Disponible</label>
      <mat-checkbox  formControlName="disponibleAlta" id="disponible"></mat-checkbox>
    </div>


    <div *ngIf="registroCorrecto" [ngClass]="{'transition': registroCorrecto}"  id="registroCorrecto" class="alert alert-success">
      <a href="#" (click)="resetearIntento()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Habitacion registrada</strong>.
    </div>

    <div *ngIf="registroIncorrecto" class="alert alert-danger">
      <a href="#" (click)="resetearIntento()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error: </strong>{{msgError}}.
    </div>


    <div class="mt-4">
      <button (click)="altaHabitacion()" type="submit" class=" col-md-3 btn btn-success mt-2">Registrar</button>
      <button type="button" class=" col-md-3 offset-md-2 btn btn-warning mt-2" (click)="router.navigate(['/habitaciones'])">Volver</button>
    </div>
  </form>

</div>
