<!-- Aqui empieza el modal de login -->

<div class="modal fade" id="modalLoginForm" #modalLogin tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="FormularioLogin" action="">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Accede a tu cuenta</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="form-group mb-2">
            <i class="fa fa-user"></i>
            <label data-error="wrong" data-success="right" for="email">Email</label>
            <input [class.ng-invalid]="FormularioLogin.get('emailLogin').invalid && FormularioLogin.get('emailLogin').touched" type="email" class="form-control" formControlName="emailLogin" name="email" >
            <div *ngIf="(emailFormLogin.invalid && emailFormLogin.touched) || emailFormLogin.dirty">
              <small *ngIf="emailFormLogin.errors?.required" class="text-danger">El email es necesario</small>
              <!--question mark(?) is a safe navigation operator-->
              <small *ngIf="emailFormLogin.errors?.pattern" class="text-danger">El email no es valido</small>
            </div>

          </div>

          <div class="md-form mb-2">
            <i class="fas fa-unlock-alt	"></i>
            <label data-error="wrong" data-success="right" for="defaultForm-pass">Contraseña</label>
            <input [class.ng-valid]="!FormularioLogin.get('contrasenaLogin').invalid && !FormularioLogin.get('contrasenaLogin').touched"   name="pass" type="password" id="defaultForm-pass"
                   class="form-control ng-invalid " formControlName="contrasenaLogin">
            <div *ngIf="(contrasenaFormLogin.invalid && contrasenaFormLogin.touched) || contrasenaFormLogin.dirty">
              <small *ngIf="contrasenaFormLogin.errors?.required" class="text-danger">La contraseña es necesario</small>
              <small *ngIf="contrasenaFormLogin.errors?.pattern" class="text-danger">La contraseña debe teneral menos un dígito, al menos una minúscula y al menos una mayúscula, debe tener al entre 8 y 16 caracteres</small>
              <small *ngIf="contrasenaFormLogin.errors?.minLength" class="text-danger">La contraseña debe tener al entre 8 y 16 caracteres</small>
              <small *ngIf="contrasenaFormLogin.errors?.maxLength" class="text-danger">La contraseña debe tener al entre 8 y 16 caracteres</small>

            </div>

          </div>

          <div *ngIf="this.intentoFallidoLogin" class="alert alert-danger">
            <a href="#" (click)="resetearIntento()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong>Email o contraseña incorrectos.
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" (click)="login()" class="btn btn-outline-success">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Aqui acaba el modal de login -->

<!-- Aqui empieza el modal de registro -->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form  [formGroup]="FormularioRegistro">
      <div class="modal-content container-fluid">
        <div class="modal-header text-center">
          <h1 id="tituloPersonal">Formulario registro</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input [class.ng-invalid]="(nombreRegistro.invalid && nombreRegistro.touched)" type="text" class="form-control ng-valid" id="nombre" formControlName="nombreRegistro"  name="nombre" >
        <div *ngIf="(nombreRegistro.invalid && nombreRegistro.touched) || nombreRegistro.dirty">
          <small *ngIf="nombreRegistro.errors?.required" class="text-danger">El nombre es obligatorio</small>
          <small *ngIf="nombreRegistro.errors?.pattern" class="text-danger">El nombre no es valido</small>
        </div>
      </div>

      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input [class.ng-invalid]="(apellidosRegistro.invalid && apellidosRegistro.touched)" type="text" formControlName="apellidosRegistro" class="form-control ng-valid" id="apellidos">
        <div *ngIf="(apellidosRegistro.invalid && apellidosRegistro.touched) || apellidosRegistro.dirty">
          <small *ngIf="apellidosRegistro.errors?.required" class="text-danger">Los apellidos son obligatorio</small>
          <small *ngIf="apellidosRegistro.errors?.pattern" class="text-danger">Los apellidos no son validos</small>
        </div>
      </div>

        <div class="form-group">
          <label for="email">Fecha nacimiento</label>
          <input [class.ng-invalid]="(fechaRegistro.invalid && fechaRegistro.touched)" type="date" formControlName="fNacRegistro" class="form-control ng-valid" id="fNac" name="fNac" >
          <div *ngIf="(fechaRegistro.invalid && fechaRegistro.touched) || fechaRegistro.dirty">
            <small *ngIf="fechaRegistro.errors?.required" class="text-danger">La fecha es obligatoria</small>
          </div>
        </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input [class.ng-invalid]="(emailRegistro.invalid && emailRegistro.touched)" type="text" class="form-control ng-valid" formControlName="emailRegistro" id="email" name="email">
        <div *ngIf="(emailRegistro.invalid && emailRegistro.touched) || emailRegistro.dirty">
          <small *ngIf="emailRegistro.errors?.required" class="text-danger">La fecha es obligatoria</small>
        </div>
      </div>

        <div class="form-group">
          <label for="dni">DNI</label>
          <input [class.ng-invalid]="validarDni(dniRegistro.value)==false" type="text" class="form-control ng-valid" id="dni" name="dni" formControlName="dniRegistro">
          <div *ngIf="(dniRegistro.invalid && dniRegistro.touched) || dniRegistro.dirty || validarDni(dniRegistro.value)">
            <small *ngIf="dniRegistro.errors?.required" class="text-danger">El DNI es necesario</small>
            <small *ngIf="dniRegistro.errors?.pattern" class="text-danger">El DNI no es valido</small>
            <small *ngIf="!validarDni(dniRegistro.value) && !dniRegistro.errors?.pattern && !dniRegistro.errors?.required" class="text-danger">La letra del DNI no es valida</small>

          </div>

        </div>

      <div class="form-group">
        <label for="contraseña">Contraseña</label>
        <input [class.ng-invalid]="(contrasenaRegistro.invalid && contrasenaRegistro.touched)" type="text" formControlName="contrasenaRegistro" class="form-control ng-valid" id="contraseña"  name="pass">
        <div *ngIf="(contrasenaRegistro.invalid && contrasenaRegistro.touched) || contrasenaRegistro.dirty">
          <small *ngIf="contrasenaRegistro.errors?.required" class="text-danger">La contraseña es obligatoria</small>
          <small *ngIf="contrasenaRegistro.errors?.pattern" class="text-danger">La contraseña debe teneral menos un dígito, al menos una minúscula y al menos una mayúscula, debe tener al entre 8 y 16 caracteres</small>
        </div>
      </div>

        <div *ngIf="this.intentoFallidoRegistro" class="alert alert-danger">
          <a href="#" (click)="resetearIntento()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Error: </strong>{{msgError}}.
        </div>

      <div class="modal-footer d-flex justify-content-center">
        <button [class.disabled]="FormularioRegistro.invalid" (click)="registrar()" type="submit" class=" col- btn btn-success">Registrar</button>
        <button type="button" class=" col- offset-sm-1 btn btn-warning" (click)="router.navigate(['/personal'])">Volver</button>
      </div>
      </div>
    </form>
  </div>
</div>
<!-- Aqui acaba el modal de registro -->
<!-- Aqui acaban los modales -->




<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="logo">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.svg" alt="">
    </a>
    <h6>Rede de residencias xuvenís</h6>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto ml-2">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);" *ngIf="usuarioLogin.rol==0 && usuarioLogin.logueado==true" (click)="router.navigate(['/menu-directora'])">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Residencias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Novas</a>
      </li>
    </ul>
    <span class="navbar-text">

            <button *ngIf="!usuarioLogin.logueado" type="button" class="btn btn-outline-light my-2 my-sm-0 mr-2" data-toggle="modal"
                    data-target="#modalLoginForm">Acceso</button>
            <button *ngIf="!usuarioLogin.logueado"  type="button" class="btn btn-outline-light my-2 my-sm-0" data-toggle="modal"
                    data-target="#modalRegisterForm">Rexístrate</button>

            <button *ngIf="usuarioLogin.logueado" (click)="exit()"  type="button" class="btn btn-danger my-2 my-sm-0">Salir</button>
    </span>
  </div>
</nav>



