<div id="main-panel-content" class="container">
  <div class="row">
    <div class="col text-center">
      <h3 class="display-2 mb-5" id="titulo-gestion">
        Panel de gestión
      </h3>
    </div>
  </div>
  <div class="row mt-3 my-2 justify-content-around row align-items-center" >
    <div class="col- text-center mt-2 ">
      <button class="btn text-dark btn-gestion" id="ver-comidas" (click)="irVerComidas()" >
        <fa-icon class="fa-8x" [icon]="iconoComida"></fa-icon>
        <strong>Visualizar calendario</strong>
      </button>
    </div>
    <div class="col- text-center mt-2 ">
      <button class="btn text-dark btn-gestion" id="gestion-comidas" (click)="irAnotarseComidas()" >
        <fa-icon class="fa-7x" [icon]="iconoAnotar"></fa-icon>
        <strong>Anotarse a comidas</strong>
      </button>
    </div>

    <div class="col- text-center mt-2 ">
      <button class="btn text-dark btn-gestion" id="gestion-pagos" (click)="irGestionPagosResidente()" >
        <fa-icon class="fa-7x" [icon]="iconoPago"></fa-icon>
        <strong>Anotarse a comidas</strong>
      </button>
    </div>

    <div class="col- text-center mt-2 ">
      <button class="btn text-dark btn-gestion" id="gestion-noticias" (click)="irVerNoticias()" >
        <fa-icon class="fa-7x" [icon]="iconoNoticia"></fa-icon>
        <strong>Gestión de Noticias/Normas</strong>
      </button>
    </div>

  </div>
</div>
