<app-alta-persona></app-alta-persona>
<div class="container-fluid mt-4">
<table class="table table-striped table-dark">
  <thead>
  <tr scope="row">
    <th scope="col-2" class="text-center">Nº Habitacion</th>
    <th scope="col-2" class="text-center">Tipo</th>
    <th scope="col-2" class="text-center">Ocupantes</th>
    <th scope="col-4" class="text-center">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr scope="row">
    <td scope="col-2" class="text-center">1</td>
    <td scope="col-2" class="text-center">Doble</td>
    <td scope="col-2" class="text-center">2</td>
    <td scope="col-4" class="text-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning">Detalles</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>

    </td>
  </tr>

  </tbody>
</table>

</div>
