<div class="container mt-4">
  <button (click)="this.router.navigate(['alta-noticia'])" type="button" class="col-12 btn btn-success mt-2 mb-3">Añadir noticia</button>

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let noticia"> {{noticia.dia | date:"dd-MM-yyyy" }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Titulo">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let noticia"> {{noticia.titulo}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let noticia">
        <button (click)="this.abrirDialogoInformarivo(noticia)" class="btn btn-warning col-12 mt-3"><fa-icon [icon]="detalles"></fa-icon>  </button>
        <button (click)="this.editarNoticia(noticia)" class="btn btn-info col-12 mt-1"><fa-icon [icon]="editar"></fa-icon>  </button>
        <button (click)="this.openConfirmationDialogE(noticia)" class="btn btn-danger col-12 mb-3 mt-1"><fa-icon [icon]="eliminar"></fa-icon>  </button>

      </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,20,50]" showFirstLastButtons></mat-paginator>
</div>
</div>
