/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
th.mat-header-cell{
  text-align: center !important;
}
td.mat-cell{
  text-align: center !important;
}
.mat-input-element{
  border: 1px solid #ced4da;
  width: 25%;
}

.mat-column-Acciones{
  width: 1px !important;
}
