<mat-form-field class="w-75">
    <mat-select  [formControl]="usuarioMultiCtrl" (selectionChange)="changed()" multiple #multiSelect>
      <ngx-mat-select-search [formControl]="usuarioMultiFilterCtrl"></ngx-mat-select-search>
      <mat-option [spellcheck]="true"  [ngClass]="{'verde' : this.residente.habitacion!=null,'rojo':this.residente.habitacion==null}" *ngFor="let residente of filteredUsuarioMulti | async" [value]="residente">
        {{residente.nombre+" "+residente.apellidos}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<!---
<ul *ngFor="let usuario of usuarioMultiCtrl?.value">
  <li>{{usuario.email}}</li>
</ul>
--->
