<div id="main-panel-content" class="container">
    <div class="row">
      <div class="col text-center">
        <h3 class="display-2 mb-5" id="titulo-gestion">
          Panel de gestión
        </h3>
      </div>
    </div>
    <div class="row mt-3 my-2 justify-content-around row align-items-center" >
      <div class="col- text-center mt-2 ">
        <button class="btn text-dark btn-gestion" id="gestion-personal" (click)="irGestionPersonal()" >
          <fa-icon class="fa-7x" [icon]="iconoUsuarios"></fa-icon>
          <strong>Gestión de Personal</strong>
        </button>
      </div>
      <div class="col- text-center mt-2 ">
        <button class="btn text-dark btn-gestion" id="gestion-habitaciones" (click)="irGestionHabitaciones()" >
          <fa-icon class="fa-7x" [icon]="iconoHabitacion"></fa-icon>
          <strong>Gestión de Habitaciones</strong>
        </button>
      </div>
      <div class="col- text-center mt-2 ">
        <button class="btn text-dark btn-gestion" id="gestion-pagos" (click)="irGestionPagos()" >
          <fa-icon class="fa-7x" [icon]="iconoPagos"></fa-icon>
          <strong>Gestión de Pagos</strong>
        </button>
      </div>
      <div class="col- text-center mt-2 ">
        <button class="btn text-dark btn-gestion" id="gestion-profesores" (click)="irGestionPartes()" >
          <fa-icon class="fa-7x" [icon]="iconoParte"></fa-icon>
          <strong >Gestión de Partes</strong>
        </button>
      </div>
      <div class="col- text-center mt-2 ">
        <button class="btn text-dark btn-gestion" id="gestion-noticias" (click)="irGestionNoticias()" >
          <fa-icon class="fa-7x" [icon]="iconoNoticia"></fa-icon>
          <strong>Gestión de Noticias/Normas</strong>
        </button>
      </div>
      <div class="col- text-center mt-2 ">
        <button class="btn text-dark btn-gestion" id="gestion-asistencia" (click)="irGestionAsistencia()" >
          <fa-icon class="fa-7x" [icon]="iconoInscribir"></fa-icon>
          <strong>Gestion de asistencia a comidas</strong>
        </button>
      </div>
      <div class="col- text-center mt-2 ">
        <button class="btn text-dark btn-gestion" id="configuracion" (click)="irConfiguracion()" >
          <fa-icon class="fa-7x" [icon]="iconoConfiguracion"></fa-icon>
          <strong>Configuración Horario</strong>
        </button>
      </div>
    </div>
  </div>
